.food-display{
    margin-top: 30px
}
.food-display h2{
    font-size: max(2.5vw, 20px);
    color: #49557e;
    font-weight: 500;
    margin-bottom: 20px;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 60px;
    gap: 20px;
    row-gap: 50px;
}